﻿<li class="active" >
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">iGarden Functions</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="/admin/queries.aspx">View Queries</a></li>
        <li class="active"><a href="/opinions/kindergardens.aspx">View Kindergardens</a></li>
        <li class="active"><a href="/opinions/activities.aspx">View Activities</a></li>
        <li class="active"><a href="/admin/ViewParents.aspx">View Parents & Children</a></li>

    </ul>
    </li>

<li class="actvie">
    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Administration Tools</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li class="active"><a href="/">Dashboard Statistics</a></li>
        <li><a href="/admin/import.aspx">Update Trainings</a></li>
        <li><a href="/admin/reset.aspx">Reset Database</a></li>
    </ul>
</li>