﻿<li>
    <a href="#"><i class="fa fa-child"></i> <span class="nav-label">Children Management</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li class="active"><a href="/manage/Children.aspx">Manage Children</a></li>
        <li class="active"><a href="/add/Child.aspx">Add a Child</a></li>


    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">Statistics</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li class="active"><a href="/opinions/">View Opinions</a></li>
        <li class="active"><a href="/opinions/kindergardens.aspx">View Kindergardens</a></li>
        <li class="active"><a href="/opinions/activities.aspx">View Activities</a></li>
        


    </ul>
</li>
