﻿<li class="active">

    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Teacher Place</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li class="active"><a href="/Default.aspx">Meeting Room</a></li>
        <li><a href="/AddShnitzel.aspx">Add a Shnitzel</a></li>
        <li><a href="dashboard_3.html">Dashboard v.3</a></li>
        <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
        <li><a href="dashboard_5.html">Dashboard v.5 <span class="label label-primary pull-right">NEW</span></a></li>
    </ul>
</li>